

.uploadImg{
    width: 70px;
    height: 60px;
}

.uploadCard{
    margin-top: 10px;
    margin-bottom: 10px;
}

.guideImage{
    width: 300px;
    height: 300px;
}

.feedbackNegativeButton{
    font-size: 10px;
    padding: 5px 5px;
    width: 100%;
}

.feedbackNegativeText{
    font-size: 14px;
    font-weight: bold;
}

